.idea
.idea/
*.o
*.a
*.out
_tmp
_k8s

l7egg.bpf.o
l7egg-static
l7egg-k8s
compile_commands.json
vmlinux.h

# temp to be changed
build

#temporary
/tools/tc-cleaner
/tools/tc-cleaner.go

#clion files
kernel/CMakeLists.txt
kernel/cmake-build-debug/
kernel/.idea/